<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fantasyfinance.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-sn1-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fantasyfinance</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$fantasyfinance</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="FantasyFinanceDatabaseEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:y5v8t84nz7.database.windows.net,1433;Initial Catalog=FantasyFinanceDatabase;Integrated Security=False;User ID=swatter555@y5v8t84nz7;Password=Baseba111;Connect Timeout=30;Encrypt=True" Name="Server=tcp:y5v8t84nz7.database.windows.net,1433;Database=FantasyFinanceDatabase;User ID=swatter555@y5v8t84nz7;Password=Baseba111;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FantasyFinanceManagement.Models.FantasyFinanceDatabaseEntities, MVC5Bootstrap-3-1-1-Less" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FantasyFinanceDatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.UserDataModel.csdl|res://*/Models.UserDataModel.ssdl|res://*/Models.UserDataModel.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:y5v8t84nz7.database.windows.net,1433;Database=FantasyFinanceDatabase;User ID=swatter555@y5v8t84nz7;Password=Baseba111;Trusted_Connection=False;Encrypt=True;Connection Timeout=30"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UserDatabaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.DataModel.csdl|res://*/Models.DataModel.ssdl|res://*/Models.DataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:y5v8t84nz7.database.windows.net,1433;Initial Catalog=fantasyfinance_db;User Id=swatter555@y5v8t84nz7;Password=Baseba111"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>